<p id="notice"><%= notice %></p>

<h1>
	<%= @list.title %>
</h1>

<h5><%= @list.url %></h5>

<div>

	<h3>Pages:</h3>

	<% @pages.each do |page| %>
		<% page.images.each do |image| %>
			<img src=<%= image.url %> alt="">
		<% end %>
		<p><a href=<%= page.url %>><%= page.title %></a></p>
		<p><%= page.body %></p>
	<% end %>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
